<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
Admin
<button onclick="find()">list</button>
<button onclick="create()">add</button>
<button onclick="login()">login</button>
<button onclick="logout()">logout</button>
12313215

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    let token = "22ed499e-62e4-4143-a05a-4fdacc330d89"
    function create() {
        const datasss = {
            name: 'Eric555',
            account: 'alex22232',
            create_date: '2023/03/14',
            password: 'alex2223',
            email:"alex1234@gmail.com",
            type: 0,
        };
        const obj = CryptoJS.AES.encrypt(JSON.stringify(datasss), 'C8763').toString()
        axios
            .post('http://localhost:3000/api/admin/add', {data:obj})
            .then(res => {
                console.log(res)
            })
            .catch(e => {
                console.log(e);
            });
    }

    function find(){
        const find = {
            token,
            tokenRef:"alex9527",
            page: 1,
            limit: 2,
            filter: {
                type: 0,
                status: 0
            }}
        const obj = CryptoJS.AES.encrypt(JSON.stringify(find), 'C8763').toString()
        axios.post('http://localhost:3000/api/admin/list',{data:obj}).then( res => {console.log(res)})
    }

    function login() {
        const data = {account: 'alex9527',password: 'alex9527'}
        const obj = CryptoJS.AES.encrypt(JSON.stringify(data), 'C8763').toString()
        let de = CryptoJS.AES.decrypt(obj, "C8763")
        console.log(obj)
        axios
            .post('http://localhost:3000/api/admin/login', {data:obj})
            .then(res => {
               console.log(res)
                token = res.data.data.token
            })
            .catch(e => {
                console.log(e);
            });
    }

    function logout(){
        const data = {token : token,tokenRef: 'alex9527'}
        const obj = CryptoJS.AES.encrypt(JSON.stringify(data), 'C8763').toString()
        axios
            .post('http://localhost:3000/api/admin/logout', {data:obj})
            .then(res => {
                console.log(res)
                token = ''})
            .catch(e => {
                console.log(e);
            });
    }

</script>
</body>
</html>
