<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<button onclick="find()">list</button>
<button onclick="create()">add</button>
<button onclick="login()">login</button>
12313215

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const datasss = {
        name: 'Eric55',
        account: 'alex222',
        backend_token: '',
        battle_paper_id: [],
        create_date: '2023/03/14',
        deck_id: [],
        frontend_token: '',
        id: 4431,
        meta_deck_id: [],
        password: 'alex222',
        photo: '',
        product_information_id: [],
        rules_id: [],
        series_introduction_id: [],
        series_story_id: [],
        status: 0,
        useful_card_introduction_id: [],
        type: 0,
    };
    const token = '3e6579b8-105c-40b4-8865-0bd392c7ed56'
    function create() {
        axios
            .post('http://localhost:3000/admin/add', datasss)
            .then(res => {
                alert(res.data.status);
            })
            .catch(e => {
                console.log(e);
            });
    }

    function find(){
        axios.get('http://localhost:3000/admin/list').then( res => {console.log(res)})
    }

    function login() {
        const data = {account: 'alex9527',password: 'alex9'}
        const obj = CryptoJS.AES.encrypt(JSON.stringify(data), 'C8763').toString()
        let de = CryptoJS.AES.decrypt(obj, "C8763")
        console.log(obj)
        console.log(de.toString(CryptoJS.enc.Utf8))
        axios
            .post('http://localhost:3000/admin/login', {data:obj})
            .then(res => {
               console.log(res)
            })
            .catch(e => {
                console.log(e);
            });
    }
</script>
</body>
</html>
